@media only screen and (max-width: 500px){
    .nav{
        position: fixed;
        height: 200px;
        width: 100%;
        z-index: 1;
    }
    .nav .clr .en{
        position: absolute;
        top:15px;
        left:20px;
    }
    .nav .clr .schr{
        display: none;
    }
    .nav .clr .bt3{
        height: 35px;
        width: 35px;
        text-align: center;
        line-height: 35px;
        font-size: 14px;
        font-weight: bolder;
        border: 2px solid rgba(255, 255, 255, 0.614);
        border-radius: 50%;
        position: absolute;
        top:15px;
        left:430px;
        display:block;
    }
    .nav .clr .logo{
        position: absolute;
        top:50px;
        left:200px;
    }
    .nav .clr .logo img{
        height: 50px;
        width: 50px;
    }
    .nav .clr .as{
        position: absolute;
        top:100px;
        left:170px;
    }
    .nav .clr .p1{
        position:absolute;
        top:130px;
        left:100px;
    }
     /* nav-bar-start */
     .nav .clr .span,.nav .clr .f2,.nav .clr .f1,.nav .clr .c1,.nav .clr .kesh{
        display: none;
     }
     .flip{
        height: 20px;
        width: 20px;
        background: #ff007c;
        border: none;
        border-radius: 50%;
        position: absolute;
        bottom:20px;
        right:20px;
        justify-content: center;
        line-height: 20px;
    } 
    .arrow{
        height:200px;
        width:88%;
        background: rgb(228, 7, 195);
        z-index: 1;
        position: absolute;
        top:0px;
        left: 0;
    }

    /* first part start */

    .main-content{
        margin-left: 0%;
        margin-top:200px;
        z-index: 0;
    }
    .d-first{
        height:100vh;
       width: 100%;
        background:url(../images/slide_01.jpg);
        background-size: 100% 80%;
        background-repeat: no-repeat;
        padding: 280px 25px 0 25px;
        position: relative;
    }
    .d-first .txt-1{
        width:100%;
        padding:60px 30px;
        text-align: center;
    }
    .d-first .txt-1 h1{
        font-size: 20px;
    }
    .d-first .bt{
        position: absolute;
        top:82%;
        left:34%;
    }

    /* second part start */


    .d-second .services{
        height:70px;
        width:450px;
        margin-left: 10px;
        padding-left:20px;
        border-left: 6px solid #ff007c;
    }
    .d-second .services h1{
        font-size:33px;
        font-family: Arial,sans-serif;
        color: #1d1d1d;
        transition:2s;
    }
    .d-second .services p{
        font-size:16px;
        font-family: Arial, sans-serif;
        color: #8a949b;
        margin-top: 5px;
    }

    .d-second .grid-container{
        grid-template-columns: 1fr; 
        grid-template-rows:200px;
        margin:50px 94px 30px 94px;
    }
    .d-second .grid-container .grid-item img{
        height: 100%;
        width: 100%;
    }

    /* 3rd part start */
    .grid1{
        display: grid;
        grid-template-columns: 1fr;
    }

    /* 4th part start */

    .grid2{
        display: grid;
        grid-template-columns: 1fr;
    }

    /* 5th part start */
    .ft{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows:100px;
        /* background: lightblue; */
    }
    .ft .ft2{
        padding: 70px 0 20px 50px;
    }

    /* 6th part start */
    .lf .lf1{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows:250px;
    }

    /* 7th part start */
    .last{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 35px;
        background: white;
    }
}